
.idea/*

__pycache__/*

catboost_info/*

references/*
results/*

experiments/*
assets/*
tmps/*
resources/*
wandb/*
data/*
scripts/*
dataset/*
tmp/*
datasets/*
data/*
output/*
offload/*
*.log

*.wav
*.mp3

*.pkl



*.png

*.jpg
*.xlsx
*.csv

catboost_info


